*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    padding: 20px;
    padding-left: 30px;
    background-color: rgb(207, 11, 11);
    color: white;
}
section aside{
    width: 15%;
    padding: 15px;
    background-color: rgb(136, 202, 30);  
    color: white; 
    float: left; 
}
section aside ul{
    list-style: none;
}
aside li{
    padding: 3px 5px;
    border-bottom: 1px solid #fff;
}
aside  h3{
   padding-top: 15px;
   padding-bottom: 15px;
}
section main{
    width: 85%;
    float: left;
    padding: 15px;
}
section main h2{
    padding-top: 15px;
   padding-bottom: 15px;
   color: rgb(30, 100, 141);
}
footer{
    color: #fff;
    padding:  3px 40%;
}
main h2{
    border-bottom:1px solid rgb(209, 200, 200);
}
main p{
    padding-top: 10px;
}